@using Podcasts.Core
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>React App</title>
    @if (!Settings.IsDevelopment)
    {
        <link rel="stylesheet" href="/static/css/main.css"/>
    }

</head>
<body>
    <div id="app"></div>
    @RenderBody()
    @if (Settings.IsDevelopment)
    {
        <script type="text/javascript" src="http://localhost:3000/static/js/bundle.js"></script>
    }
    else
    {
        <script type="text/javascript" src="/static/js/main.js"></script>
    }
</body>
</html>