@model IEnumerable<Podcasts.Core.Entities.Podcast>

@{
    ViewBag.Title = "Podcasts";
}

<h2>Podcasts</h2>
@Html.RouteLink("Add New", "New Podcast", null, new { @class="btn btn-primary" })

<table class="table">
    <tr>
        <th>Name</th>
        <th></th>
    </tr>

    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Title</td>
            <td>
                @using (Html.BeginRouteForm("Delete Podcast", FormMethod.Post))
                {
                    @Html.Hidden(nameof(p.PodcastId), p.PodcastId);
                    <button type="submit" class="btn btn-danger">Delete</button>
                }
            </td>
        </tr>
    }
</table>
